{% extends 'base.html.twig' %}
{% block body %}
    <h1>INSCRIPTION</h1>
    {{ form_start(form) }}
    {{ form_row(form.Nom,{'label':'Nom&prenom'}) }}
    {{ form_row(form.login,{'label':'Login'}) }}
    {{ form_row(form.email,{'label':'Email'}) }}
    {{ form_row(form.password,{'label':'password'}) }}
    {{ form_row(form.ConfirmPassword,{'label':'ComfirmPassword'}) }}
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}

{% endblock %}
